In [61]:
# !pip install pandas

In [62]:
import pandas as pd

# Pandas: Series, DataFrame

series = pd.Series([2,8,-2,-10])
print(type(series))
print(series)

dictionary = {
  "name" : "Leo",
  "age" : 23
}

# Convert Dictionary DataFrame
df = pd.DataFrame(dictionary, index=[0])
print(df)

teams = {
  "names" : ['Leo', 'Jason', 'Jennie'],
  "ages" : [23, 18, 9]
}
print(type(teams)) # <dict>

df2 = pd.DataFrame(teams)
print(df2)
print(type(df2)) # <DataFrame>

<class 'pandas.core.series.Series'>
0     2
1     8
2    -2
3   -10
dtype: int64
  name  age
0  Leo   23
<class 'dict'>
    names  ages
0     Leo    23
1   Jason    18
2  Jennie     9
<class 'pandas.core.frame.DataFrame'>

In [63]:
print(df2['names'])
names_series = df2['names']
print(type(names_series)) # <Series>

print(df2['ages'])

# add Series
df2['gender'] = pd.Series(['M','M','F'])
print(df2)

0       Leo
1     Jason
2    Jennie
Name: names, dtype: object
<class 'pandas.core.series.Series'>
0    23
1    18
2     9
Name: ages, dtype: int64
    names  ages gender
0     Leo    23      M
1   Jason    18      M
2  Jennie     9      F

In [64]:
# Filtering
print(df2.loc[df2["ages"] < 20])

    names  ages gender
1   Jason    18      M
2  Jennie     9      F

In [65]:
print(df2["ages"] < 20)

0    False
1     True
2     True
Name: ages, dtype: bool

In [66]:
# Contains (Find key word)
print(df2.loc[df2["names"].str.contains("J")])

    names  ages gender
1   Jason    18      M
2  Jennie     9      F

In [67]:
#Python (if-else -> and or)
#DataFrame (& |)
print(df2.loc[df2["names"].str.contains("L") | (df2["ages"] < 11)])

print(df2.loc[df2["names"].str.contains("J") & (df2["gender"] == 'F')])

    names  ages gender
0     Leo    23      M
2  Jennie     9      F
    names  ages gender
2  Jennie     9      F

In [68]:
print(df2.info())
print(df2.describe())
print(df2.head()) # first 5 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   names   3 non-null      object
 1   ages    3 non-null      int64
 2   gender  3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes
None
            ages
count   3.000000
mean   16.666667
std     7.094599
min     9.000000
25%    13.500000
50%    18.000000
75%    20.500000
max    23.000000
    names  ages gender
0     Leo    23      M
1   Jason    18      M
2  Jennie     9      F

In [69]:
# Call API
url = 'https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'
df = pd.read_csv(url) # return DataFrame

print(type(df))
print(df.head())

df_female_30 = df.loc[(df["Sex"]=="female") & (df["Age"] > 30) & (df["Name"].str.contains("Lily"))]
print(df_female_30)

<class 'pandas.core.frame.DataFrame'>
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
     PassengerId  Survived  Pclass  \
3              4         1       1
879          880         1       1

                                              Name     Sex   Age  SibSp  \
3     Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
879  Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0

     Parch  Ticket     Fare Cabin Embarked
3        0  113803  53.1000  C123        S
879      1   11767  83.1583   C50        C

In [70]:
print(df["Age"].mean())
print(df["Age"].max())
print(df["Age"].min())
print(df.groupby("Survived")["Age"].mean())

29.69911764705882
80.0
0.42
Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

In [71]:
print(df["Age"].isnull().any())
print(df["Name"].isnull().any())

print(df.columns[df.isnull().any()])

# ETL (extract transform load)
# clear those person without age
df_after_drop_null_age = df.dropna(subset=["Age"])
print(len(df))
print(len(df_after_drop_null_age))
df_after_drop_all_null = df.dropna(subset=["Age","Cabin","Embarked"])
print(len(df_after_drop_all_null))

True
False
Index(['Age', 'Cabin', 'Embarked'], dtype='object')
891
714
183

In [ ]:
df_for_refill = df.copy()
df_for_refill["Age"] = df_for_refill["Age"].fillna("N/A")
df_for_refill["Cabin"] = df_for_refill["Cabin"].fillna("N/A")
df_for_refill["Embarked"] = df_for_refill["Embarked"].fillna("N/A")

print(df_for_refill.columns[df_for_refill.isnull().any()]) # No null value
print(len(df_for_refill))
print(len(df))

Index([], dtype='object')
891
891

In [74]:
# DataFrame to csv
df_for_refill.to_csv("titanic_after_refill.csv")

In [75]:
url = "https://jsonplaceholder.typicode.com/users"

# lambda (map)
# city = Roscoeview or Howemouth

# -> usernames (list of String)

user_df = pd.read_json(url)
# users_list = user_df.to_dict('records')
# users_ros_how = list(filter(lambda x : (x["address"]["city"] == "Roscoeview") or (x["address"]["city"] == "Howemouth") , users_list))
# usernames_ros_how = list(map(lambda x: x["username"], users_ros_how))

usernames_ros_how = [x["username"] for x in user_df.to_dict('records') if x["address"]["city"] in ["Roscoeview","Howemouth"]]
print(usernames_ros_how)

['Kamren', 'Elwyn.Skiles']