In [158]:
# !pip install requests

In [159]:
import requests

url = "https://jsonplaceholder.typicode.com/posts"

headers = {
  "User-Agent" : "Mozilla/5.0"
}

response = requests.get(url, headers=headers)
data = response.json()
print(type(data))

<class 'list'>

In [ ]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Table, Column, MetaData, String, Date, BigInteger

# call yahoo finance API
# Transform OHLCV (Open, High, Low, Close, Volume)
# Database Table (Symbol, Date, Open, High, Low, Close, Volume)

url = "https://query1.finance.yahoo.com/v8/finance/chart/TSLA?period1=1735660800&period2=1760544000&interval=1d&events=history"

response = requests.get(url, headers=headers)
data = response.json()

finance_info = {
  "symbol" : data["chart"]["result"][0]["meta"]["symbol"],
  "date" : data["chart"]["result"][0][("timestamp")],
  "open" : data["chart"]["result"][0]["indicators"]["quote"][0]["open"],
  "high" : data["chart"]["result"][0]["indicators"]["quote"][0]["high"],
  "low" : data["chart"]["result"][0]["indicators"]["quote"][0]["low"],
  "close" : data["chart"]["result"][0]["indicators"]["quote"][0]["close"],
  "volume" : data["chart"]["result"][0]["indicators"]["quote"][0]["volume"]
}

df_finance = pd.DataFrame(finance_info)
df_finance["date"] = pd.to_datetime(df_finance["date"], unit='s').dt.strftime('%Y-%m-%d')

db_engine = create_engine("postgresql+psycopg2://postgres:admin1234@localhost:5432/postgres")

metadata = MetaData()

person_schema = Table(
  "finance",
  metadata,
  Column("id", BigInteger, primary_key=True),
  Column("symbol", String(20), nullable=False),
  Column("date", Date, nullable=False),
  Column("open", BigInteger, nullable=False),
  Column("high", BigInteger, nullable=False),
  Column("low", BigInteger, nullable=False),
  Column("close", BigInteger, nullable=False),
  Column("volume", BigInteger, nullable=False)
)

metadata.create_all(db_engine)

df_finance.to_sql('finance', db_engine, if_exists='replace', index=False)

198